<div class="container pt-4">
    <div *ngIf="mostrarError" class="alert alert-dismissible alert-danger">
        <div  class="text-center">
            <strong>ERROR AL OBTENER AL OBTENER CLIMA</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img [src]="urlImagen" width="300px" height="300px" alt="climaLogo">
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <input type="email" [(ngModel)]="ciudad" class="form-control size" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Ingrese Ciudad">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small> -->
                <div class="d-grid gap-2 mt-4">
                    <button (click)="obtenerClima()" class="btn btn-primary" [disabled]="ciudad == ''">Obtener
                        Clima</button>




                    <div *ngIf="loading" class="col-row tex-center mt-3">
                        <div class="spinner-grow text-primary" role="status"></div>
                        <div class="spinner-grow text-primary" role="status"></div>
                        <div class="spinner-grow text-primary" role="status"></div>
                    </div>

                    <div *ngIf="query" class="card mt-3">
                        <div class="card-body">
                            <p><b>Temperatura: </b>{{temperatura | number: '1.2-2'}}</p>
                            <p><b>Humedad: </b> {{humedad}}</p>
                            <p><b>Clima: </b> {{clima}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>